<br>
<form [formGroup]="formGroup">
  <input formControlName="firstName" placeholder="First Name" name="firstName">
  <input formControlName="lastName" placeholder="Last Name" name="lastName">
  <input formControlName="email" placeholder="Email" name="email">
  <input formControlName="age" placeholder="Age" name="age">
  <div>
    <button class="waves-effect waves-light btn pulse " type="button" (click)="updateOne() " routerLink="../.."  >Edit this user</button>
  </div>
</form>


