<nav xmlns="">
  <div class="nav-wrapper #ffa726 orange lighten-1 ">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="">Login</a></li>
      <li><a routerLink="register">Registration</a></li>
      <li><a routerLink="users">Users</a></li>
      <li><a routerLink="users/add">Add new user</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

