<div class="table-container">
<table class="striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th colspan="3">Email</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let users of users">
    <td>{{users.firstName}}</td>
    <td>{{users.lastName}}</td>
    <td>{{users.age}}</td>
    <td>{{users.email}}</td>
    <td><button class="waves-effect waves-light btn" routerLink="edit/{{users._id}}">Edit</button></td>
    <td><button  class="waves-effect waves-light btn" (click)="deleteOne(users._id)">Delete</button></td>
  </tr>
  </tbody>
</table>
</div>

<div class="button-container">
  <button  class="waves-effect waves-light btn "  routerLink="add">Add One User</button>
</div>

<router-outlet> </router-outlet>
