<div class="row">
<form class="col s12" [formGroup]="registrationForm" >
  <div class="row">
    <div class="input-field col s6">
      <input formControlName="firstName" type="text" placeholder="First Name" name="firstName">
    </div>
    <div class="input-field col s6">
      <input formControlName="lastName" type="text" placeholder="Last Name" name="lastName">
    </div>
    <div class="input-field col s6">
      <input formControlName="age" type="text" placeholder="Age" name="age"
             required minlength="4">
    </div>
    <div class="input-field col s6">
      <input formControlName="login" type="text" placeholder="Email" name="email">
    </div>
    <div class="input-field col s6">
      <input formControlName="password" type="password" placeholder="Password">
    </div>
    <div class="input-field col s6">
      <input type="password" placeholder="Confirm Password" >
    </div>
  </div>
  </form>
</div>
<div class="button-container">
  <button class="waves-effect #ffa726 orange lighten-2 btn pulse " (click)="register()">Register</button>
</div>
