<h1 class="card-panel #80d8ff light-blue accent-1">Welcome to this page</h1>
<form [formGroup]="loginForm" >
  <input formControlName="login" placeholder="login" name="login">
  <input formControlName="password" placeholder="password" type="password">
  <button class="btn waves-effect #80d8ff light-blue accent-1" (click)="sendRequest()" > Login</button>
</form>
<br>
<p>Registration page</p>
<button class="btn waves-effect #80d8ff light-blue accent-1" routerLink="register">Register</button>
